{% extends 'base.html' %}

{% block content %}
<center><div class='col-5 mt-5'><table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Առարկա</th>
      <th scope="col">Գնահատական</th>

    </tr>
  </thead>
  <tbody>
    <tr class="table-warning">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>9</td>

    </tr>
    <tr class="table-warning">
      <th scope="row">2</th>
      <td class = 'table-warning'>Jacob</td>
      <td class = 'table-warning'>4</td>

    </tr>
    <tr class="table-warning">
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      
    </tr>
  </tbody>
</table></div></center>

{% endblock %}
